<hr />
<h1>Comments</h1>

<div class="row">
    <div class="col-sm-12">
        {{ include('components/comment-input.html.twig', { 'user': user }, with_context = false) }}
    </div>
</div>
<hr />

{% if comments is not empty %}
<div class="row">
    {% for comment in comments %}
        <div class="media comment">
            <div class="media-left">
                <div class="avatar">
                    <a href="#">
                        <img class="media-object __{{ comment.author }}" src="/img/users.jpg" alt="{{ comment.author }}">
                    </a>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.author }}</h4>
                {% for paragraph in comment.text %}
                    <p>{{ paragraph }}</p>
                {% endfor %}

                {{ include('components/comment-actions.html.twig') }}
                <hr/>

                {% for reply in comment.children %}
                <div class="media comment">
                    <div class="media-left">
                        <a href="#">
                            <div class="avatar">
                                <img class="media-object __{{ reply.author }}" src="/img/users.jpg" alt="{{ reply.author }}">
                            </div>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ reply.author }}</h4>
                        {% for paragraph in reply.text %}
                            <p>{{ paragraph | capitalize }}</p>
                        {% endfor %}

                        {{ include('components/comment-actions.html.twig') }}
                        <hr/>
                    </div>
                </div>
                {% endfor %}

                {{ include('components/comment-input.html.twig', { 'user': user }, with_context = false) }}
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p class="alert alert-info">The are no comments on this story yet...</p>
{% endif %}
