{% extends 'base.html.twig' %}

{% block title %}{{ story.title }}{% endblock %}

{% block userPane %}
    {% if user is defined %}
        {{ include('components/userPane.html.twig', { 'user': user }, with_context = false) }}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="story-poster">
        <img src="{{ story.img }}" class="img-responsive" alt="{{ story.title }}" />
        <div class="story-poster-text">
            <h3 class="date">{{ story.date | date('l, F j, g:m a') }}</h3>
            <h1 class="title">{{ story.title }}</h1>
        </div>
    </div>

    <hr />

    <blockquote class="summary">{{ story.summary }}</blockquote>

    <a href="#comments" class="btn btn-default">
        <span class="fa fa-comments text-primary"></span>
        <span class="badge">{{ comments | length }}</span>
    </a>

    <a href="#share" class="btn btn-default">
        <span class="fa fa-share-alt text-primary"></span>
    </a>

    <a href="#share" class="btn btn-default">
        <span class="fa fa-print text-primary"></span>
    </a>

    <hr />

    {% for paragraph in story.body %}
        <p>{{ paragraph }}</p>
    {% endfor %}

    {{ include('components/recommendations.html.twig', { 'stories': recommendations }, with_context = false) }}

    <a name="comments"></a>
    <p></p>
    {{ include('components/comments.html.twig', { 'comments': comments, 'user': user }, with_context = false) }}

{% endblock %}

{% block side %}
{% endblock %}

{% block js %}
{% endblock %}

